<h3>Результати пошуку</h3>
    <div class="search_result"> 
    <% @posts.each do |post| %>
        <div class="search_result_title">
        <%= post.title %>
        </div>
        <%= raw post.body %>
      
    <% end %>
<%= link_to 'Назад', root_path %>
</div>