
<% provide(:page_title, 'Головна сторінка') %>
<%cache do%>
<div class="top_img">
	<div class="head-txt">Душа исцеляется рядом с детьми.<br>
     Дети — это наше настоящее и будущее…
     </div> 
<%=image_tag("fin1.jpg")%>

</div>
<%end%>