
<div class="center hero-unit">
  <h1>Welcome to the School App</h1>

  <div>
    <% if @page.posts.any? %>
      <h3>Posts (<%= @page.posts.count %>)</h3>
      <ol>
        <%= render @page.posts %>
      </ol>
     <% end %>
  </div>
</div>

  <div class="container">
	<% if signed_in? %>
	<%= render 'posts/form' %>
	<% end %>
</div>