
<div class="hero-unit">
  
  
    <% if @page.posts.count > 0 %>
      
      <ol class="microposts">

        <%= render :partial => @page.posts %>
      </ol>
   
     <% else %>
     <center>На цій сторінці немає повідомлень</center>
  <% end %>
  </div>

<% if signed_in? %>
<%= render 'posts/form' %>
<% end %>


