.search {
	margin-top: 8px;
form{margin: 0;
vertical-align: middle;}
}

#search_field {
  vertical-align: middle;
  margin: 0;
 height: 15px;
 width: 150px;
}

input#search_button {
position: absolute;
right: 1px;
top:12px;
opacity: 100%;
margin-left: -10px;

}