<footer class="footer">
  <nav>
    <ul>
      <li>Наша поштова адреса адреса: Донецька обл., м. Часів Яр, вул. Ціолковського 1, 84552</li>
      <li>Наша електронна адреса: chasovyar8@mail.ru</li>
    </ul>
  </nav>
  <small>
    <a href="https://github.com/StalkerK">StalkerK©</a><br>
    <%= debug(params) if Rails.env.development? %><br>
  </small>
</footer>