 <article id="userlogin">
 	<div class="title">
 <h3> Часовоярська СЗШІ №8 Донецької обласної ради </h3>
   </div>
 <div class="login">
   <% if current_user %>
  <%= link_to "Hello, #{current_user.email}", edit_user_registration_path %>
   <%= link_to "Вихід", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Вхід", "#sign_in", "data-toggle" => "modal", :class => 'btn btn-small' %>
 

    <%= render 'shared/sign_in' %>
 
  </article>

  
<% end %>
     
